.form-wrapper {
  /* grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.active {
  color: #1bd97b;
}

.summary {
  height: 500px;
  border-left: 1px solid #ff88002c;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .form-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .summary {
    border-left: none;
    padding-left: 0;
    border-top: 1px solid #ff88002c;
    padding-top: 20px;
  }
}
